#gamecontainer {
    margin:1cm;
    width:1150px;
    height:1150px;
    background: url(images/splashscreen.png);
    border: 1px solid black;
}

.gamelayer {
	width:94%;
	height:100%;
	border-radius:20px;
}

/* Game Starting Menu Screen */
#gamestartscreen {
    visibility:hidden;
    position:absolute;
    top: 0px;
    right: 750px;
    padding-top:250px;
}

#gamestartscreen img {
    margin:10px;
    cursor:pointer;
}

/* Level Selection Screen */
#levelselectscreen {
    visibility:hidden;
    padding-top:0px;
    padding-left:50px;	
}

#levelselectscreen input {
    margin:20px;
    cursor:pointer;
    background:url(images/icons/level.png) no-repeat;
    color:yellow;
    font-size: 20px;
    width:64px;
    height:64px;
    border:0;
}

/* Loading Screen */
#loadingscreen {
    visibility:hidden;
    background:rgba(100,100,100,0.3);		
}

#loadingmessage {
    margin-top:400px;
    text-align:center;
    height:48px;
    color:white;
    background:url(images/loader.gif) no-repeat center;
    font:12px Arial;
}

/* Score Screen */
#scorescreen  {
    visibility: hidden;
    height:60px;
    font: 32px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color:white;
}

#scorescreen img{
    opacity:0.6;
    top:10px;
    position:relative;
    padding-left:10px;
    cursor:pointer;
}

#scorescreen #score {
    position:absolute;
    top:75px;
    right:450px;
}

/* Ending Screen */
endingscreen {
    text-align:center;	
}

#endingscreen div {
    height:64px;
    width:64px;
    padding-top:50px;
    border:1px;
    text-align:left;
    padding-left:100px;
}


#endingscreen p  {
    font: 20px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color:white;
}

#endingscreen p img{
    cursor:pointer;
}

#endingscreen #endingmessage  {
    position:absolute;
    left: 50px;
    top: 10px;
    font: 32px Comic Sans MS;
    text-shadow: 0 0 2px #000;
    color:white;
}

#endingmessage {
    position:absolute;
    left: 50px;
    top: 60px;
}

#playcurrentlevel {
    position:absolute;
    left: 50px;
    top: 110px;
}

#playnextlevel {
    position:absolute;
    left: 50px;
    top: 160px;
}

#returntolevelscreen{
    position:absolute;
    left: 50px;
    top: 210px;
}
